body {
    font-family: sans-serif;
    padding: 20px;
}

#video-url {
    width: 70%;
    padding: 5px;
}

#get-info {
    padding: 5px 10px;
}

#video-info {
    margin-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}